:root {
    --title-size-large: 75pt;
    --subtitle-size-large: 17pt;
    --title-size-small: 40pt;
}

@font-face {
    font-family: Koldby;
    src: url("../font/Koldby.otf") format("opentype");
}

body {
    margin: 0; padding: 0; border: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#particle-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -100;
}

#text-container {
    margin: 0; padding: 0; border: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
}

@media screen and (min-width: 501px) {
    #title p {
        font-size: var(--title-size-large);
        line-height: calc(var(--title-size-large) * 0.8);
    }

    #title {
        height: calc(var(--title-size-large) * 0.8);
    }

    #pages span {
        font-size: var(--subtitle-size-large);
        line-height: calc(var(--subtitle-size-large) * 0.8);
    }

    #pages {
        width: 45%;
    }
    
    #external {
        width: 45%;
    }

    #subtitle {
        flex-direction: row;
    }
}

@media screen and (max-width: 500px) {
    #title p {
        font-size: var(--title-size-small);
        line-height: calc(var(--title-size-small) * 0.8);
    }

    #title {
        height: calc(var(--title-size-small) * 0.8);
    }

    #subtitle {
        display: none !important;
    }

    #theme-switch {
        display: none !important;
    }

    #underline {
        display: none !important;
    }
}

#title p {
    margin: 0;
    font-family: Koldby;
}

#title {
    display: flex;
    overflow: hidden;
    align-items: center;
}

#subtitle {
    display: flex;
    gap: 10%;
    margin-top: 1%;
}

#pages {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#pages .dash {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#pages span {
    margin: 0; padding: 0; border: 0;
    text-decoration: none;
}

#external {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#theme-switch {
    position: absolute;
    right: 25px;
    top: 25px;
    margin-top: 5px;
}

#theme-switch svg {
    cursor: pointer;
    height: 100%;
    width: auto;
}

#underline {
    margin-top: 0px;
    height: 2px;
    width: 10.5%;
    margin-left: 0%;
}

#about-bg {
    display: none;
    border-radius: 40px;
    width: 50vw;
}

#middle {
    display: flex;
    flex-direction: column;
}