body {
    background-color: #121212;
}

#title p {
    color: #fff;
}

#pages span, a {
    color: #fff;
}

#external svg {
    fill: #fff;
}

#theme-switch svg {
    fill: #fff;
}

#underline {
    background-color: #fff;
}

#about-bg {
    background-color: #242424;
}