.contentBodyTitle {
    font-family: "Khula SemiBold", sans-serif;
    font-size: 48px;
    color: black;
    margin: 0;
    position: absolute;
    top: 5.55555vh;
}

.contentBodyBodyImage {
    width: 54vw;
    height: 22.22222222vh;
    overflow: hidden;
    object-fit: cover;
    border-radius: 5px;
    position: absolute;
    top: 18%;
}

.contentBodyBodyTitle {
    font-family: "Khula SemiBold", sans-serif;
    font-size: 36px;
    color: black;
    margin: 0;
    position: absolute;
    top: 44%;
}

.contentBodyBodySeparator {
    width: 50vw;
    height: 0;
    border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 100%) 10%, rgba(0, 0, 0, 100%) 90%, rgba(0, 0, 0, 0) 100%) 1;
    border-width: 1px;
    border-style: solid;
    position:absolute;
    top: 50%;
}

.contentBodyBodyDesc {
    position: absolute;
    white-space: pre-line;
    top: 50%;
    width: 80%;
}

.contentBodyBodyDesc p, .contentBodyBodyDesc div {
    font-family: "Khula Light", sans-serif;
    text-align: center;
    font-size: 24px;
}

.contentBodyBodyLeft, .contentBodyBodyRight {
    font-family: "KoPub Batang", sans-serif;
    font-size: 48px;
    cursor: pointer;
    line-height: 100vh;
    height: 100vh;
}

.contentBodyBodyLeft {
    position: absolute;
    left: 60px;
}

.contentBodyBodyRight {
    position: absolute;
    right: 60px;
}

.contentBodyBodyDesc a {
    text-decoration: none;
    color: black;
}